!!! 5
- load custom_filters
- load compress

%head
  %meta{"http-equiv":"Content-Type", "content":"text/html;charset=UTF-8"}
  / Don't change the order of JS and CSS files here!
  - compress css
    %link{"rel":"stylesheet", "href":"#{STATIC_URL}css/bootstrap.min.css", "type":"text/css"}
    %link{"rel":"stylesheet", "href":"#{STATIC_URL}css/users.css", "type":"text/css"}
    %link{"rel":"stylesheet", "href":"#{STATIC_URL}css/posts.css", "type":"text/css"}
    %link{"rel":"stylesheet", "href":"#{STATIC_URL}css/notifications.css", "type":"text/css"}
    %link{"rel":"stylesheet", "href":"#{STATIC_URL}css/site.css", "type":"text/css"}
  %link{"rel":"stylesheet", "href":"http://fonts.googleapis.com/css?family=Molle:400italic", "type":"text/css"}
  - compress js
    %script{"src": "#{STATIC_URL}js/jquery.min.js", "type":"text/javascript"}
    %script{"src": "#{STATIC_URL}js/bootstrap.min.js", "type":"text/javascript"}
    %script{"src": "#{STATIC_URL}js/site.js", "type":"text/javascript"}
    %script{"src": "#{STATIC_URL}js/users.js", "type":"text/javascript"}
    %script{"src": "#{STATIC_URL}js/posts.js", "type":"text/javascript"}
    %script{"src": "#{STATIC_URL}js/jquery.debounce.js", "type":"text/javascript"}
    %script{"src": "#{STATIC_URL}js/jquery.attips.js", "type":"text/javascript"}
    %script{"src": "#{STATIC_URL}js/knockout-2.2.0.js", "type":"text/javascript"}
  - block header
  %title
    - block title
      Welcome to Hudson!
%html
  - block site_content
  %div.hudson-modal.modal.hide.fade{role:'dialog'}
    %div.modal-header
      %h3
    %div.modal-body
    %div.modal-footer
      %button.btn{'data-dismiss':'modal'} 关闭
  
